<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftpUrl" value="ftp://ftp.pilotgaea.com.tw/YilanUsezone/UseZone/" />
    <add key="ftpUser" value="" />
    <add key="ftpPass" value="" />
    <add key="targetDir" value="D:\UseZone\" />
    <add key="mode" value="D" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
